@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@tailwind utilities;

:root {
  --base-font: 'Quicksand', system-ui, sans-serif;
}

body {
  font-family: var(--base-font);
  @apply m-0 p-0 font-normal bg-zinc-300;
}

header {
  @apply p-4 bg-zinc-800 flex justify-end;
}

header a {
  font-family: var(--base-font);
  @apply text-cyan-100 py-2 px-4 mr-2 font-normal no-underline rounded-sm;
}

header a:hover {
  @apply bg-white/10;
}
