@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@tailwind utilities;

:root {
  --base-font: 'Nunito Sans', system-ui, sans-serif;
  --heading-font: 'Quicksand', system-ui, sans-serif;
}

body {
  font-family: var(--base-font);
  color: #333;
  @apply m-0 p-0 w-screen min-h-screen bg-fixed font-normal text-sm md:text-base bg-zinc-300 lg:overflow-hidden;
  background-image: linear-gradient(0deg, #111a, #3338), url(/images/jon-tyson-eTjX8xc1in8-unsplash.webp);
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: blur(8px) saturate(0);
}

header {
  @apply w-full p-4 bg-zinc-800 flex justify-end fixed z-10;
}

header a {
  font-family: var(--base-font);
  @apply text-white font-semibold py-2 px-4 mr-2 font-normal no-underline rounded-sm;
}

header a:last-child {
  @apply mr-4;
}

header a:hover {
  @apply bg-white/10;
}

a {
  @apply font-semibold text-cyan-600;
}

h1,
h2,
h3,
h4 {
  font-family: var(--heading-font);
  @apply m-0 p-0 mb-1 text-[#023140] font-bold;
}

h1 {
  @apply text-4xl lg:text-5xl;
}

input[type='text'] {
  font-family: var(--base-font);
  @apply border border-zinc-800/20 p-2 rounded-sm box-border;
}

button {
  font-family: var(--base-font);
  @apply p-4 border-none rounded-sm cursor-pointer font-semibold uppercase;
}

button.primary {
  @apply bg-cyan-600 text-white w-full;
}
